.Admin>form{
    margin-top: 130px;
    height: 400px;
    width: 440px;
    color: white; 
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 25px;   
   
}
 .Admin>form>label{
    font-size: 20px;
    margin-top: 10px;
    font-weight: bolder;

}
.Admin>form>input {
    background-color: rgba(255, 255, 255, 0); 
    border: 3px solid rgba(255, 255, 255, 0.5); 
    color: #fff; 
    outline: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
}

.Admin>form>input::placeholder {
    color: rgba(255, 255, 255, 0.7); 
}

.Admin>form>button {
    background-color: rgba(255, 255, 255, 0); 
    border: 3px solid rgba(255, 255, 255, 0.5); 
    color: #fff; 
    padding: 25px;
    
    width: 70%;
    margin-left: 70px;
    border-radius: 25px;
    cursor: pointer;
    height: 40px;
    
}
.Admin>form>button>span{
     position: absolute;
     top: 440px;
     right: 610px ;
     color: white;
     font-size: 19px;
     font-family: sans-serif;
     

}

.Admin>form>button:hover {
    /* background-color: rgba(255, 255, 255, 0.2);  */
    background-color:  palevioletred;;
    
}
.Admin>h1{
    
        position: absolute;
        top: 70px;
        color: #e6e6fa;
        font-size: 40px; 
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); 
        font-family: 'Arial', sans-serif; 
        font-weight: bolder;
        letter-spacing: 1px; 
        text-align: center;
}
.Admin{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 130px; */
    background: url('https://images.pexels.com/photos/5632402/pexels-photo-5632402.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.Admin>form>a>span{
    position: absolute;
     top: 357px;
     right: 420px ;
     color: white;
     font-size: 17px;
     font-family: sans-serif;
}
.Admin>form>a>#adminsign:hover{
        color: palevioletred;
}
.Admin>form>a>#adminsign{
    position: absolute;
     top: 357px;
     right: 730px ;
     color: white;
     font-size: 17px;
     font-family: sans-serif;
}
.Admin>form>a>span:hover{
        color: palevioletred;
}
