.Forget{
    background: url('https://images.pexels.com/photos/5632402/pexels-photo-5632402.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100vw;
}
*{
    padding: 0;
    margin: 0;
}

.Forget>form>label{
    font-size: 30px;
  position: absolute;
  top: 210px;
  left: 420px;
  color: palevioletred;
    
    font-weight: bolder;

}
.Forget>form>input {
    background-color: rgba(255, 255, 255, 0); 
    border: 3px solid rgba(255, 255, 255, 0.5); 
    color: #fff; 
    outline: none;
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
    margin-left: 420px;
    margin-top: 240px;
    width: 400px;
}
.Forget>form>input::placeholder {
    color: rgba(255, 255, 255, 0.7); 
}
.Forget>form>button {
    background-color: rgba(255, 255, 255, 0); 
    border: 3px solid rgba(255, 255, 255, 0.5); 
    color: #fff; 
    padding: 25px;
    margin-top: 27px;
    width: 150px;
    margin-left: 550px;
    cursor: pointer;
    height: 50px;
    font-size: 15px;
    font-weight: bolder;
    
}
.Forget>form>button:hover{
    background-color: palevioletred;
}
.Forget>form>button>span{
    position: absolute;
    top: 348px;
    right: 610px ;
    color: white;
    font-size: 19px;
    font-family: sans-serif;
}
